<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>woodcoin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>coingrig</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera it is used in order to scan QR Codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enabling location allows you to get notification fron onesignal  server.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Black.ttf</string>
		<string>SF-Pro-Display-BlackItalic.ttf</string>
		<string>SF-Pro-Display-Bold.ttf</string>
		<string>SF-Pro-Display-BoldItalic.ttf</string>
		<string>SF-Pro-Display-Heavy.ttf</string>
		<string>SF-Pro-Display-HeavyItalic.ttf</string>
		<string>SF-Pro-Display-Light.ttf</string>
		<string>SF-Pro-Display-LightItalic.ttf</string>
		<string>SF-Pro-Display-Medium.ttf</string>
		<string>SF-Pro-Display-MediumItalic.ttf</string>
		<string>SF-Pro-Display-Regular.ttf</string>
		<string>SF-Pro-Display-RegularItalic.ttf</string>
		<string>SF-Pro-Display-Semibold.ttf</string>
		<string>SF-Pro-Display-SemiboldItalic.ttf</string>
		<string>SF-Pro-Display-Thin.ttf</string>
		<string>SF-Pro-Display-ThinItalic.ttf</string>
		<string>SF-Pro-Display-Ultralight.ttf</string>
		<string>SF-Pro-Display-UltralightItalic.ttf</string>
		<string>SF-Pro-Text-Bold.ttf</string>
		<string>SF-Pro-Text-BoldItalic.ttf</string>
		<string>SF-Pro-Text-Heavy.ttf</string>
		<string>SF-Pro-Text-HeavyItalic.ttf</string>
		<string>SF-Pro-Text-Light.ttf</string>
		<string>SF-Pro-Text-LightItalic.ttf</string>
		<string>SF-Pro-Text-Medium.ttf</string>
		<string>SF-Pro-Text-MediumItalic.ttf</string>
		<string>SF-Pro-Text-Regular.ttf</string>
		<string>SF-Pro-Text-RegularItalic.ttf</string>
		<string>SF-Pro-Text-Semibold.ttf</string>
		<string>SF-Pro-Text-SemiboldItalic.ttf</string>
		<string>RobotoSlab-Black.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-ExtraBold.ttf</string>
		<string>RobotoSlab-ExtraLight.ttf</string>
		<string>RobotoSlab-Light.ttf</string>
		<string>RobotoSlab-Medium.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-SemiBold.ttf</string>
		<string>RobotoSlab-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
